.contenedormenu
	background-image url('../assets/home/partido.jpg')
	color white
	display inline-flex
	flex-direction column
	height 700px
	width 100%
.menuquiniela
	display flex
	justify-content center
	height 50px
	width 100%
	div
		align-items space-between
		border 1px solid greenEucalyp
		bordes 7px
		display inline-flex
		flex-direction row
		justify-content space-around
		height 50px
		width 50%
		a
			transition ease 0.5s
			-webkit-transition ease 0.5s
			align-items center
			color white
			display inline-flex
			font-size 12px
			font-weight bold
			justify-content center
			text-decoration none
		a:hover
			transition ease 0.5s
			-webkit-transition ease 0.5s
			align-items center
			color greenEucalyp
			display inline-flex
			text-decoration nones
.marcamenu
	align-items center
	display inline-flex
	flex-direction column
	font-family: 'Lobster'
	font-size 12px
	font-weight light
	height 400px
	justify-content center
	width 100%
	a
		transition ease 0.5s
		-webkit-transition ease 0.5s
		align-items center
		color white
		display inline-flex
		font-size 64px
		font-weight bold
		justify-content center
		text-decoration none
	a:hover
		transition ease 0.5s
		-webkit-transition ease 0.5s
		align-items center
		color greenEucalyp
		display inline-flex
		text-decoration nones
.botonesmenu
	align-items center
	display flex
	flex-direction row
	justify-content center
	font-size
	height 50px
	text-decoration none
	width 100%
	div
		align-items space-between
		display inline-flex
		flex-direction row
		justify-content space-around
		width 50%
		.registratemenu
			background-color verdeMaterialOpacity
			transition ease 0.5s
			-webkit-transition ease 0.5s
			align-items center
			border 1px solid black
			bordes 7px
			color white
			display inline-flex
			font-size 26px
			font-family 'Roboto', sans-serif
			justify-content center
			height 80px
			text-decoration none
			width 300px
		.registratemenu:hover
			transition ease 0.5s
			-webkit-transition ease 0.5s
			align-items center
			background-color greenEucalyp
			color white
			display inline-flex
			text-decoration none
			text-shadow 0px 1px 1px verdeMaterial
			opacity 1
		.iniciasesionmenu
			background-color tunderbirdOpacity
			transition ease 0.5s
			-webkit-transition ease 0.5s
			align-items center
			border 1px solid black
			bordes 7px
			color white
			display inline-flex
			font-size 26px
			font-family 'Roboto', sans-serif
			justify-content center
			height 80px
			text-decoration none
			width 300px
		.iniciasesionmenu:hover
			transition ease 0.5s
			-webkit-transition ease 0.5s
			align-items center
			background-color tunderbird
			color white
			display inline-flex
			text-decoration none
			text-shadow 0px 1px 1px verdeMaterial
			opacity 1